@define-mixin atSmall {
    @media (min-width: 530px) {
        @mixin-content;
    }
}

@define-mixin atMedium {
    @media (min-width: 800px) {
        @mixin-content;
    }
}

@define-mixin atLarge {
    @media (min-width: 1010px) {
        @mixin-content;
    }
}

@define-mixin clearfix {

    /* you must clear the floats - the browser will add blank content after the row div and clear all the floats*/
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}